@model Store.Models.AvtorKniga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvtorKniga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kniga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kniga.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avtor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avtor.Ime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
