@model Store.ViewModels.KnigaAvtorEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Avtor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="avtor.Ime" class="control-label"></label>
                <input asp-for="avtor.Ime" class="form-control" />
                <span asp-validation-for="avtor.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avtor.Prezime" class="control-label"></label>
                <input asp-for="avtor.Prezime" class="form-control" />
                <span asp-validation-for="avtor.Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avtor.Pol" class="control-label"></label>
                <input asp-for="avtor.Pol" class="form-control" />
                <span asp-validation-for="avtor.Pol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avtor.Nacionalnost" class="control-label"></label>
                <input asp-for="avtor.Nacionalnost" class="form-control" />
                <span asp-validation-for="avtor.Nacionalnost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="avtor.DatumRagjanje" class="control-label"></label>
                <input asp-for="avtor.DatumRagjanje" class="form-control" />
                <span asp-validation-for="avtor.DatumRagjanje" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedKnigas" class="control-label">Knigi</label>
                <select asp-for="SelectedKnigas" class="form-control" asp-items="Model.KnigaList" multiple></select>
                <span asp-validation-for="SelectedKnigas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
